/*
 Theme Name:   Businessx Child
 Theme URI:    http://www.acosmin.com/theme/businessx/
 Description:  BusinessX Child Theme
 Author:       Acosmin
 Author URI:   http://www.acosmin.com
 Template:     businessx
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         custom-header, grid-layout, right-sidebar, sticky-post, translation-ready, threaded-comments, featured-images, custom-menu, custom-colors, theme-options, footer-widgets, portfolio, blog, news, e-commerce
 Text Domain:  businessx-child
*/

/*
 For more info on child themes access this page: https://codex.wordpress.org/Child_Themes
 You can add your customizations below
*/

/*********MENU/HEADER*******/


.main-menu li a,
.main-menu > li.menu-item-has-children > a {
  font-size: 1.25em;
  margin-right: 45px;
}


/********END*******/

/****INSURANCE PRODUCTS*******/

#section-features > div {
  text-align: center;
}

.sec-feature-figure i {
  border: none;
}

.sec-feature-figure i:before {
  font-size: 4em;
}

.hs-secondary-small {
  font-size: 1.5em;
}


/************INSURANCE PAGE***********/

#wrapper {
     width: 100%;
     margin: 0 auto;
}

#leftcolumn, #rightcolumn {
    text-align: center;
    border: 1px solid white;
    float: left;
    min-height: 450px;
    margin-top: 30px;
}

#leftcolumn {
     width: 45%;
     background-color: white;
     margin-right: 10%;
}

#rightcolumn h2 {
  padding-top: 1em;
  margin-top: .1em;
}

#leftcolumn h2 {
  padding-top: 1.9em;
  margin-top: 1em;
}

#rightcolumn {
     width: 45%;
     background-color: white;
}

@media only screen and (max-width: 565px) {
    #rightcolumn {
      width: 100%;
    }
    #leftcolumn {
      width: 100%;
    }
}

table.insurance-table {
  padding-top: 4em;
  border: none;
}

.insurance-container td {
  border: 1px solid gray;
  text-align: center;
  padding-top: 30px;
}

.post-single h3, .comment-content h3 {
  font-size: 1.1em;
}


/************END***********/

/************FOOTER***********/

#main-footer > div.footer-credits > div > div.footer-creds-copyright {
  display: none;
}

#main-footer > p {
  text-align: center;
  color: black;
  margin-top: 10px;
}

#main-footer > div.footer-credits > div {
  background-color: white;
}

#main-footer > div.footer-credits {
  background-color: white;
}
/***********END*************/
